body {
    margin: 0;
    text-align: center;

}

header {
    padding: 5px;
    background-color: lightcyan;
}

#tarolo {
    display: flex;
    justify-content: center;
}
#gep, #jatekos {
    font-size: 1.5em;
    margin-top: 0;
}
button {
    width: 100px;
    padding: 5px;
    margin: 5px;
}