body {
    background-image: url('hatter.jpg');
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

fieldset {
    width: 200px;
    border: dashed 1px red;
}

label:hover {
    color: blue;
}

input[type="text"], input[type="tel"], input[type="date"], input[type="time"]{
    background-color: yellow;
    padding: 5px;
}