body {
    background-color: #F5DA81;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}
h1 {
    background-color: #FC9804;
    color: rgb(153, 0, 0);
    font-size: 1.7em;
    text-align: center;
}
h2 {
    font-size: 1.3em;
    font-style: italic;
    text-decoration: underline;
}

h2:hover {
    text-transform: uppercase;
}

h1, h2 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
}

.jobbra {
    text-align: right;
}

p {
    text-align: justify;
    text-indent: 1em;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a:link, a:visited {
    text-decoration: none;
    color: #0099ff;
}

a:hover, a:active {
    text-decoration: underline;    
    color: #FC9804;
}