h1 {
    color: #0081C4;
}

ol {
    margin: 10px;
}

.kiemelt {
    background-color: #f9e3e7;
    margin-left: 5px;
    font-weight: bold;
    padding: 10px;
    border-left: solid 10px yellowgreen;
    
}

#keret {
    margin-left: solid 5px;
    border: 1 border-style;
    margin:  10pt 10pt 10pt 10pt;
    padding:10pt 10pt 10pt 10pt;
}

li {
    margin: 10pt 10pt 10pt 10pt;
}